.ingredient {
    margin: 10px;
    text-align: center;
    color: whitesmoke;
}
.breadTop{
    background-image: linear-gradient(#a76307, #d3933a);
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    width: 50%;
    height: 25%;
    position: relative;
}
.seed_1 {
    width: 10%;
    height: 15%;
    position: absolute;
    background-color: white;
    left: 30%;
    top: 50%;
    border-radius: 40%;
    transform: rotate(-20deg);
    box-shadow: inset -2px -3px #c9c9c9;
}
.seed_1:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: -170%;
    top: -260%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -1px 2px #c9c9c9;
  }
.seed_1:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 180%;
    top: -50%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -1px -3px #c9c9c9;
}
.seed_2 {
    width: 10%;
    height: 15%;
    position: absolute;
    background-color: white;
    left: 64%;
    top: 50%;
    border-radius: 40%;
    transform: rotate(10deg);
    box-shadow: inset -3px 0 #c9c9c9;
}
.seed_2:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 150%;
    top: -130%;
    border-radius: 40%;
    transform: rotate(90deg);
    box-shadow: inset 1px 3px #c9c9c9;
  }
.breadBottom{
    background-image: linear-gradient(#d3933a, #a76307);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 50%;
    height: 15%
}
.leaf {
    background-image: linear-gradient(#057705, #08ca08);
    border-radius: 15px;
    width: 55%;
    height: 7%
}
.bacon {
    background-image: linear-gradient(#633204, #b45a06);
    border-radius: 5px;
    width: 50%;
    height: 5%
}
.salad {
    background-image: linear-gradient(#cbf33b, #cbf33b);
    border-radius: 5px;
    width: 50%;
    height: 5%
}
.meat {
    background-image: linear-gradient(#9b3e3e, #9b3e3e);
    border-radius: 10px;
    width: 55%;
    height: 5%
}
.cheese {
    background-image: linear-gradient(#f5df71, #f7dd5e);
    border-radius: 10px;
    width: 60%;
    height: 3%
}