.burger {
    width: 600px;
    margin: auto;
}
.burgerContainer{
    width: 100%;
    height: 300px;
    overflow-y: auto;
    position: relative;
    margin: auto;
    text-align: -webkit-center;
    text-align: -moz-center;
}
.emptyMessage{
    color: black;
    width: inherit
}

@media (max-width: 600px) {
    .burgerContainer{
        width: 100%;
    }
}