.burgerContainer{
    width: 50%;
    height: 300px;
    overflow-y: auto;
    position: relative;
    margin: 70px auto;
    text-align: -webkit-center;
    text-align: -moz-center;
}
.emptyMessage{
    color: lightgoldenrodyellow;
    width: inherit
}

@media (max-width: 600px) {
    .burgerContainer{
        width: 100%;
    }
}