.modal{
    position: fixed;
    z-index: 500;
    width: 50%;
    height: fit-content;
    background-color: white;
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px black;
    padding: 16px;
    left: 25%;
    top: 25%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (max-width: 500px) {
    .modal{
        position: fixed;
        z-index: 500;
        width: 80%;
        height: fit-content;
        background-color: white;
        border: 1px solid white;
        box-shadow: 1px 1px 1px 1px black;
        padding: 16px;
        left: 10%;
        top: 25%;
        box-sizing: border-box;
        transition: all 0.3s ease-out;
    }
}