.ToolBar{
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    display: flex;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    justify-content: space-between;
    background-color: #7b4611;
}