.toggleDrawer{
    width: 40px
}
.toggleDrawer div {
    width: 100%;
    height: 2px;
    background-color: white;
    box-sizing: border-box;
    margin: 7px;
}
@media (min-width: 500px) {
    .toggleDrawer{
        display: none
    }
}