.NavigationItems{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    height: 100%;
}
@media (max-width: 500px) {
    .NavigationItems{
        display: block;
        margin-top: 20px;
        padding: 0;
        list-style: none;
        align-items: center;
        height: 100%;
    }
    .desktopOnly {
        display: none
    }
}