.ContactDataContainer {
    box-shadow: 0px 2px 3px 1px #888888;
    width: 500px;
    text-align: center;
    margin: 40px auto
}
.ContactDataContainer::after{
    content: '';
    clear: right
}
.HeaderContactData {
    margin: 0;
    padding: 10px
}

@media (max-width: 500px) {
    .ContactDataContainer {
        box-shadow: 0px 2px 8px 1px #888888;
        text-align: center;
        margin: 50px
    }
    .ContactDataContainer::after{
        content: '';
        clear: right
    }
}