
.summaryContainer div{
    padding: 10px;
}
ul {
    list-style-type: none;
}
.li {
    text-transform: capitalize;
}
.buttonPosition {
    float: right;
    bottom: 0;
    right: 0;
    margin: 0px 20px 20px;
}

.summaryContainer::after{
    content: '';
    clear: right
}